@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

body {
  margin: 0;
  background-image: url(/assets/backgroundimage.jpg);
  background-size: 100%;
  font-family: "Abel", sans-serif;
}

.content {
  background-color: white;
  margin: 100px 400px;
  box-shadow: 0 8px 13px -8px black;
}

h2 {
  text-align: center;
}

.submitForm {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-bottom: 10px;
}

.name {
  border: solid;
  font-family: "Abel", sans-serif;
}

.gender {
  border: solid;
  font-family: "Abel", sans-serif;
}

.email {
  border: solid;
  font-family: "Abel", sans-serif;
}

.table {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 20px;
  gap: 10px;
}

thead {
  display: flex;
  justify-content: center;
}

tr,
th {
  padding: 5px 30px;
}

th {
  text-align: left;
  background-color: black;
  color: white;
  font-weight: 100;
}

.buttonField {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding-top: 10px;
}

#Btn {
  background-color: black;
  color: white;
  font-family: "Abel", sans-serif;
  padding: 5px 30px;
  box-shadow: 0 8px 13px -8px black;
  font-size: 15px;
}
